@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #06213d;
  --primary-color: #63adf2;
  --light-txt-color: #fdffff;
  --dark-txt-color: #001021;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@layer components {
  body {
    @apply bg-gradient-to-br from-black via-[var(--bg-color)] to-black;
  }
  .section {
    @apply text-white overflow-x-hidden py-5 md:py-12;
  }
  nav {
    @apply fixed z-50 w-full;
    div {
      @apply flex md:flex-row md:justify-between items-center gap-5 py-5  px-5 lg:px-8 container mx-auto;
    }
    p {
      @apply text-3xl font-light;
    }

    a {
      @apply cursor-pointer text-nowrap md:text-base text-sm font-light;
    }

    ul {
      @apply flex-center lg:gap-12 gap-7;
    }
  }
  .noisy {
    @apply inset-0 size-full bg-[url("/images/noise.webp")];
  }
}
